@{
    BE.Models.Uzytkownik uzytkownik = ViewBag.Uzytkownik as BE.Models.Uzytkownik;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NBAkcesoria</title>
</head>
<style>
    .backgroundimage {
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .header {
        margin-left: 20%;
        margin-right:20%;
    }
    .mainbody {
        margin-left: 20%;
        margin-right: 20%;
        background-color: ghostwhite;
    }
     td {
        padding: 15px;
        font-size: 25px;
        font-family: 'MV Boli';
    }
    a:visited, a:link, a:link:active, a:link:visited {
        color: black;
    }
</style>
<body background="~/Content/tlo1.jpg" class="backgroundimage">
    <div class="header">
        <table>
            <tr>
                <td><img src="~/Content/logo.png" /></td>
                <td><a href="../../../../Home/Index">NBAkcesoria</a></td>
                <td><a href="../../../../Home/About">O Firmie</a></td>
                <td><a href="../../../../Home/Contact">Kontakt</a></td>
                @if (uzytkownik==null)
                {
                    <td>
                        <a href="../../../../Home/Zaloguj">Zaloguj</a>
                        <a href="../../../../Home/Zarejestruj">Zarejestruj</a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="../../../../Home/Wyloguj">Wyloguj</a>
                    </td>
                }
                <td>
                    <p><a href="../../../../Home/Koszyk">Twój Koszyk</a></p>
                    <p>wartość koszyka: @ViewBag.Koszyk zł</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="mainbody">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NBAkcesoria</p>
        </footer>
    </div>
</body>
</html>
