@{
    ViewBag.Title = "Home Page";
}

<table>
    @{
        System.Collections.Generic.List<BE.Models.Produkt> produkty = (System.Collections.Generic.List<BE.Models.Produkt>)ViewBag.Produkty;
        for (int i = 0; i < 3; i++)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    if (i * 3 + j < produkty.Count)
                    {
                        <td>
                            <a href="../Home/Details/@produkty[i * 3 + j].ID">
                                <table>
                                    <tr><td><img src="~/@produkty[i * 3 + j].SciezkaDoZdjecia" /></td></tr>
                                    <tr><td><p style="font-size:10px">@produkty[i * 3 + j].Nazwa<br />@produkty[i * 3 + j].Cena zł</p></td></tr>
                                </table>
                            </a>
                        </td>
                    }
                }
            </tr>
        }
    }
</table>