<style>
    .tablesize {
        margin-left: 5%;
        margin-right: 5%;
    }

    .detailsheader {
        background-color: white;
    }

    .headertekst {
        font-size: 20px;
        margin-left: 3%;
    }
</style>
<script>
    function Zarejestruj() {
        var nick = document.getElementById("nick").value;
        var haslo = document.getElementById("haslo").value;
        var imie = document.getElementById("imie").value;
        var nazwisko = document.getElementById("nazwisko").value;
        var miasto = document.getElementById("miasto").value;
        var ulica = document.getElementById("ulica").value;
        var kod = document.getElementById("kod").value;
        var dom = document.getElementById("dom").value;
        var mieszkanie = document.getElementById("mieszkanie").value;
        var telefon = document.getElementById("telefon").value;
        var czyKod = /^\d{2}-\d{3}$/;
        var czyTelefon = /^\d{9}$/;

        if (czyTelefon.test(telefon) && czyKod.test(kod) && imie.length > 0 && nazwisko.length > 0
            && miasto.length > 0 && ulica.length > 0 && kod.length > 0 && dom.length > 0 && nick.length > 0 && haslo.length > 0)
        {
            window.location.href = "../../../Home/PrzeslijRejestracje/" + ((mieszkanie.length > 0) ? mieszkanie : -1) + "/" + telefon + "/" + dom + "/"
                                + kod + "/" + ulica + "/" + miasto + "/" + nazwisko + "/" + imie + "/" + nick+"/"+haslo;
        }
        else {
            alert("sprawdz dane");
        }
    }
</script>
@{
    BE.Models.Uzytkownik uzytkownik = (BE.Models.Uzytkownik)ViewBag.Uzytkownik;
    if(uzytkownik!=null)
    {
        <div class="detailsheader">
            <p class="headertekst"><b>Rejestracja</b></p>
        </div>
        <div class="tablesize">
            <table>
                <tr>
                    <td>
                            <p style="font-size:15px"><b>Uzytkownik Zalogowany </b></p>
                    </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div class="detailsheader">
            <p class="headertekst"><b>Rejestracja</b></p>
        </div>
        <div class="tablesize">
            <table>
                <tr>
                    <td>
                        <p style="font-size:15px"><b>Nick: <input id="nick" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Haslo: <input id="haslo" type="password" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Imie: <input id="imie" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Nazwisko: <input id="nazwisko" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Miasto: <input id="miasto" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Ulica: <input id="ulica" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Kod Pocztowy: <input id="kod" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>nr domu: <input id="dom" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>nr mieszkania: <input id="mieszkanie" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Telefon: <input id="telefon" type="text" name="fname"> </b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" onclick="Zarejestruj()">Zarejestruj</button>
                    </td>
                </tr>
            </table>
        </div>
    }
}
